mixin item(name, url)
  li
  a(href=url)= name

aside.menu
p.menu-label
  | Practice Books
ul.menu-list
  +item('Books', '/table/books')
  +item('Sections', '/table/sections')
  +item('Exercises', '/table/exercises')
  +item('Practices', '/table/practices')
p.menu-label
  | Learning Music
ul.menu-list
  +item('Artists', '/artists')
  +item('Songs', '/table/songs')
  +item('Practices', '/table/practices')
p.menu-label
  | Misc
ul.menu-list
  +item('Users', '/table/users')
