extends layouts/index.pug

block body
  .table-container
  table.table.is-striped
    thead
      each f in fields
        th= f

    tbody
      each row in rows
        tr
          each f in fields
            td= row[f]
