<div class="table-container">
    <table class="table">
        <thead>
            <th>id</th>
            <th>Book ID</th>
            <th>Name</th>

        </thead>
        <tbody>
            {{#each section}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.book_id}}</td>
                    <td>{{this.section}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
